@page
@model HotelWebApp.Pages.Bookings.BookaRoomModel
@{
    ViewData["Title"] = "BookaRoom";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookingRoom.RoomID" class="control-label"></label>
                <select asp-for="BookingRoom.RoomID" class="form-control" asp-items="ViewBag.RoomID"></select>
            </div>
            <div class="form-group">
                <label asp-for="BookingRoom.CheckIn" class="control-label"></label>
                <input asp-for="BookingRoom.CheckIn" class="form-control" />
                <span asp-validation-for="BookingRoom.CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingRoom.CheckOut" class="control-label"></label>
                <input asp-for="BookingRoom.CheckOut" class="form-control" />
                <span asp-validation-for="BookingRoom.CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>



@if (ViewData["SuccessDB"] != null)
{
<div>
    <h3>You successfully created your booking</h3>
    <hr />
    <table class="table">
        <!-- .table is a Bootstrap class giving table styles -->
        <tr>
            <th>
                Room ID
            </th>
            <th>
                Level
            </th>
            <th>
                Check in date
            </th>
            <th>
                Check out date
            </th>
            <th>
                Total Cost
            </th>
        </tr>

        <tr>
            <td>
                @Model.BookingRoom.RoomID
            </td>

            <td>
                @Model.BookingRoom.Level
            </td>
            <td>
                @Model.BookingRoom.CheckIn.ToShortDateString()
            </td>
            <td>
                @Model.BookingRoom.CheckOut.ToShortDateString()
            </td>
            <td>
                @Model.BookingRoom.TotalCost
            </td>
        </tr>
    </table>
</div>
}

<!-- Let's try to find more dynamic way rather than this-->
@if (ViewData["Fail"] != null)
{
    <div>
        <hr />
        <h3>
            Alert
        </h3>
        <hr />
        <h5> @ViewData["Fail"].ToString() </h5>
    </div>
}


@if (ViewData["CheckInerr"] != null)
{
    <div>
        <hr />
        <h3>
            Alert
        </h3>
        <hr />
        <h5> @ViewData["CheckInerr"].ToString()  </h5>
    </div>
}

@if (ViewData["CheckOuterr"] != null)
{
    <div>
        <hr />
        <h3>
            Alert
        </h3>
        <hr />
        <h5> @ViewData["CheckOuterr"].ToString() </h5>
    </div>
}

<!-- Is there any way to use if, else if????-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
