@page
@model HotelWebApp.Pages.Bookings.BookingManagementModel
@{
    ViewData["Title"] = "BookingManagement";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>BookingManagement</h1>


<p>
    <a asp-page="Create">Create a new booking</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TheRoom.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TheCustomer.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TheCustomer.GivenName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Booking)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TheRoom.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TheCustomer.Surname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TheCustomer.GivenName)
    </td>
    
    <td>
        @Html.DisplayFor(modelItem => item.CheckIn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CheckOut)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cost)
    </td>

    <td>
        <a class="btn btn-success btn-sm text-white" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> 
        <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
    </td>
</tr>
        }
    </tbody>
</table>


