@page
@model HotelWebApp.Pages.Bookings.HotelStatisticsModel
@{
    ViewData["Title"] = "HotelStatistics";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Statistics</h1>
<h2>Customer distribution with respect to postcodes</h2>
<br />
<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostcodesStats[0].Postcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostcodesStats[0].CustomerCount)
            </th>
        </tr>

        @foreach (var item in Model.PostcodesStats)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Postcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerCount)
                </td>
            </tr>
        }
    </table>
</div>

<h2>Booking distribution with respect to rooms</h2>
<br />

<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomStats[0].Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomStats[0].BookingCount)
            </th>
        </tr>

        @foreach (var item in Model.RoomStats)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Room)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingCount)
                </td>
            </tr>
        }
    </table>
</div>



